.main-header-top
  .container-fluid.main-header__container
    .main-header-top__left
      .main-header-top__menu
        include ../../top-menu/top-menu
      include ../../callme/callme
    .main-header-top__right
      .top-menu
        ul.top-menu__list
          li.top-menu__item.top-menu__item_lang
            a.top-menu__link(href='#') Рус
          li.top-menu__item
            a.top-menu__link(href='#') Вход / Регистрация
