.menu-toggle{
  //margin-right: 104px;
  display: none;
  margin-top: 5px;
  height: 18px;
  width: 26px;
  position: relative;
  cursor: pointer;
  z-index: 30;
  transition: $delay*2;

  @media(max-width: 1366px){
    display: flex;
    align-self: center;
  }

  span{
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    height: 2px;
    margin: auto;
    background: #5C5B60;
  }

  &:before{
    content:'';
    position: absolute;
    left:0;
    right:0;
    top: 0;
    height: 2px;
    background: #5C5B60;
    transition: .4s;
  }

  &:after{
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: 2px;
    background: #5C5B60;
    transition: .4s;
  }

  &_active{
    right:-1px;
    top: 1px;

    span{
      opacity:0;
    }

    &:before{
      left: 5px;
      transform-origin: top left;
      transform: rotate(45deg);
      width: 27px;
      top: -2px;
    }

    &:after{
      left: 5px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 27px;
    }
  }
}
