.main-header-bottom {
  padding: 17px 30px 10px;
  min-height: 94px;
  background: $white;

  @media(max-width: 1500px) {
    padding: 11px 0 6px;
    min-height: 80px;
  }

  &__logo {
    display: flex;

    &-icon {

      @media(max-width: 1500px) {
        height: 62px;
      }
    }

  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: -9px;

  }

  &__actions {
    padding-right: 0;
    margin-right: -15px;

  }
}
