.main-header-bottom {
  padding: 17px 30px 10px;
  min-height: 94px;
  background: $white;

  &__logo {
    display: flex;
    margin-left: 15px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
  }

  &__actions {
    padding-right: 0;
    margin-right: -15px;
  }
}
