.main-header-bottom {
  padding: 17px 30px 10px;
  min-height: 94px;
  background: $white;

  @media(max-width: 1366px) {
    padding: 11px 30px 6px;
    min-height: auto;
  }

  &__logo {
    display: flex;
    margin-left: 15px;

    @media(max-width: 1366px) {
      display: none;
    }

    &_laptop {
      display: none;

      @media(max-width: 1366px) {
        display: flex;
        margin-left: -15px;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;

  }

  &__actions {
    padding-right: 0;
    margin-right: -15px;

    @media(max-width: 1366px) {
      .actions {
        display: none;
      }
    }
  }
}
