.main-header-bottom
  .container-fluid
    .row.justify-content-between
      .col-auto.main-header-bottom__logo
        a(href='/')
          img(src='./images/logo_top.png')
      .col-auto.main-header-bottom__menu
        include ../../categories-menu/categories-menu
      .col-auto.main-header-bottom__actions
        include ../../actions/actions
