.callme {
  color: $green;
  display: flex;
  align-items: center;
  padding-left: 19px;
  transition: $delay;

  &__ico {
    margin-right: 9px;
  }

  &:hover {
    color: $white;
    cursor: pointer;

    .callme__ico path{
      stroke: $white;
    }
  }

  &_white {
    white-space: nowrap;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    color: $white;

    &:hover {
      color: $green;
    }
  }
}
