.callme {
  color: $green;
  display: flex;
  align-items: center;
  padding-left: 19px;
  transition: $delay;
  cursor: pointer;

  &__icon {
    margin-right: 9px;
    stroke: $green;
  }

  &:hover {

    .callme__title {
      color: $white;
    }

    .callme__icon {
      stroke: $white;
    }
  }

  &_white {
    white-space: nowrap;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    color: $white;

    &:hover {
      color: $green;
    }
  }
}
