nav.top-menu
  ul.top-menu__list
    li.top-menu__item
      a.top-menu__link(href='#') Доставка
    li.top-menu__item
      a.top-menu__link(href='#') Оплата
    li.top-menu__item
      a.top-menu__link(href='#') Оптовикам
    li.top-menu__item
      a.top-menu__link(href='#') Акции и скидки
    li.top-menu__item
      a.top-menu__link(href='#') Ожидаемые товары
    li.top-menu__item
      a.top-menu__link(href='#') Контакты
