nav.categories-menu
  ul.categories-menu__list
    li.categories-menu__item
      img.categories-menu__item-pic(src='./images/constructions.png')
      a.categories-menu__link(href='#')
        | Строительство
        br
        | и ремонт
    li.categories-menu__item
      img.categories-menu__item-pic(src='./images/tools.png')
      a.categories-menu__link(href='#') Инструменты
    li.categories-menu__item
      img.categories-menu__item-pic(src='./images/for-home.png')
      a.categories-menu__link(href='#') Дом и быт
    li.categories-menu__item
      img.categories-menu__item-pic(src='./images/garden.png')
      a.categories-menu__link(href='#') Сад и огород
    li.categories-menu__item
      img.categories-menu__item-pic(src='./images/tourism.png')
      a.categories-menu__link(href='#') Туризм
