nav.categories-menu
  ul.categories-menu__list
    li.categories-menu__item
      a.categories-menu__link(href='#')
        +icon({icon: 'constructions', class: 'categories-menu__link-image'})
        .categories-menu__link-text
          | Строительство
          br
          | и ремонт
    li.categories-menu__item
      a.categories-menu__link(href='#')
        +icon({icon: 'tools', class: 'categories-menu__link-image'})
        .categories-menu__link-text Инструменты
    li.categories-menu__item
      a.categories-menu__link(href='#')
        +icon({icon: 'for-home', class: 'categories-menu__link-image'})
        .categories-menu__link-text Дом и быт
    li.categories-menu__item
      a.categories-menu__link(href='#')
        +icon({icon: 'garden', class: 'categories-menu__link-image'})
        .categories-menu__link-text Сад и огород
    li.categories-menu__item
      a.categories-menu__link(href='#')
        +icon({icon: 'tourism', class: 'categories-menu__link-image'})
        .categories-menu__link-text Туризм
