.main-content
  //.announcement
  //  .announcement__slider
  //    .announcement__slider-item.announce1
  //    .announcement__slider-item.announce2
  //    .announcement__slider-item.announce3
  //  .announcement__slider-preview
  //    .announcement__slider-preview-item
  //      img(src='./images/announce1.jpg')
  //    .announcement__slider-preview-item
  //      img(src='./images/announce2.jpg')
  //    .announcement__slider-preview-item
  //      img(src='./images/announce3.jpg')
  //  .announcementList
  //    .container-fluid
  //      .row.justify-content-between
  //        .col-auto.announcementList__item
  //          .announcementList__img
  //            img(src='./images/ellipse.svg')
  //          .announcementList__info
  //            h4.announcementList__title Строй с нами!
  //            p.announcementList__desc Строитель - ваша специализация. Клиент - найдем вам строителя
  //        .col-auto.announcementList__item
  //          .announcementList__img
  //            img(src='./images/ellipse.svg')
  //          .announcementList__info
  //            h4.announcementList__title Сертифицированный товар
  //            p.announcementList__desc Краткое описание преимущества, добавить немного цифр
  //        .col-auto.announcementList__item
  //          .announcementList__img
  //            img(src='./images/ellipse.svg')
  //          .announcementList__info
  //            h4.announcementList__title Огромный ассортимент товаров
  //            p.announcementList__desc Краткое описание преимущества, добавить немного цифр
  //        .col-auto.announcementList__item
  //          .announcementList__img
  //            img(src='./images/ellipse.svg')
  //          .announcementList__info
  //            h4.announcementList__title Доставка по всей Украине
  //            p.announcementList__desc Краткое описание преимущества, добавить немного цифр
  .slide1
  .slide2
  .slide3
  .slide4
  .slide5
