.main-content
  .announcement
    .announcement__slider
      .announcement__slider-item.announce1
      .announcement__slider-item.announce2
      .announcement__slider-item.announce3
    .announcement__slider-preview
      .announcement__slider-preview-item
        img(src='./../images/announce1.jpg')
      .announcement__slider-preview-item
        img(src='./../images/announce2.jpg')
      .announcement__slider-preview-item
        img(src='./../images/announce3.jpg')
    .announcementList
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
  .slide2
  .slide3
  .slide4
  .slide5
