.main-content
  .announcement
    .announcement__slider
      .glide2
      .glide3
    .announcement__slider-previews
      .announcement__slider-preview
        img(src='./../images/visa.png')
      .announcement__slider-preview
        img(src='./../images/mastercard.png')
    .announcementList
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
      .announcementList__item
        .announcementList__img
          img(src='./../images/ellipse.svg')
        .announcementList__info
          h4.announcementList__title Скидки каждый день!
          p.announcementList__desc Краткое описание преимущества, добавить немного цифр
  .slide2
  .slide3
  .slide4
  .slide5
