.main-content {

  .slick {
    &-loading, &-list {
      background: #fff center center no-repeat;
    }

    &-dots {
      left: 55px;
      top: 315px;
      display: flex;
      flex-direction: column;

      li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 8px 0;
        background: rgba(52, 52, 56, 0.95);
        border: 1px solid  rgba(255, 255, 255, 0.4);

        &.slick-active {
          background: $green;
        }

        button:before {
          content: '';
          font-family: inherit;
          font-size: 14px;
        }

      }
    }

  }
}

.announcement {

  &__slider {
    background: url('./../images/main-banner.jpg') top center no-repeat;
    background-size: cover;
    min-height: 664px;
  }
}
.announcementList {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 55px;

  &__item {
    display: flex;
    justify-content: space-between;
    padding-right: 55px;
    padding-left: 10px;
  }

  &__img {
    padding: 0 20px;
    flex-shrink: 0;
  }

  &__info {

  }

  &__title {

  }

  &__title {

  }

}

.slide2, .slide3, .slide4, .slide5 {
  background: url('./../images/main-banner.jpg') top center no-repeat;
  min-height: 664px;

}.glide2, .glide3 {
  background: url('./../images/bg_footer.jpg') top center no-repeat;
  min-height: 664px;
}
