.main-content {
  padding-top: 134px;
  //min-height: 822px;

  .slick {
    &-loading, &-list {
      background: #fff center center no-repeat;
    }

    &-dots {
      left: 55px;
      top: 315px;
      display: flex;
      flex-direction: column;

      li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 8px 0;
        background: rgba(52, 52, 56, 0.95);
        border: 1px solid  rgba(255, 255, 255, 0.4);

        &.slick-active {
          background: $green;
        }

        button:before {
          content: '';
          font-family: inherit;
          font-size: 14px;
        }

      }
    }

  }


}

.announcement {
  position: relative;
  margin-top: 0;

  &__slider {
    color: #fff;
    height: 0;
    height: 664px;

    .slick-list, .slick-track, .slick-slide {
      height: 100%;
    }
    .slick-slide, .slick-slide > div {
      display: flex !important;
    }
    .slick-slide > div {
      width: 100%;
    }

    &-item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      font-size: 100px;
    }
  }

  &__slider-preview {
    position: absolute;
    //bottom: 19%;
    //left: 50%;
    left: 967px;
    bottom: 155px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    color: #fff;
    background: $white;
    padding: 0 5px;

    &-item {
      width: 142px!important;
      height: 60px;
      padding: 10px 5px 0;
      color: #fff;
      cursor: pointer;
      filter: grayscale(100%);

      &:hover {
        filter: none;
      }
    }

    .slick-slide {
      width: auto !important;
    }

    .slick-track {
      width: auto !important;
      display: flex !important;
    }

    .slick-active {
      filter: none;
    }
  }
}

.announcementList {
  background: #E5E5E5;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 48px;

  &__item {
    display: flex;
    justify-content: space-between;
    padding-right: 55px;
    padding-left: 10px;
  }

  &__img {
    padding: 0 20px;
    flex-shrink: 0;
  }

  &__info {
    max-width: 200px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1A1B1B;
  }

  &__description {

  }
}

.slide1 {
  background: url('./../images/slide1.jpg') top center / cover no-repeat;
  height: 822px;
  vertical-align: bottom;
}

.slide2 {
  background: url('./../images/superprices.jpg') top center / cover no-repeat;
  height: 822px;
  vertical-align: bottom;
}

.slide3 {
  background: url('./../images/actions.jpg') top center / cover no-repeat;
  height: 822px;
  vertical-align: bottom;
}

.slide4 {
  background: url('./../images/soon.jpg') top center / cover no-repeat;
  height: 822px;
  vertical-align: bottom;
}

.slide5 {
  background: url('./../images/bottommenu.jpg') top center / cover no-repeat;
  height: 822px;
  vertical-align: bottom;
}

.announce1{
  background: url("./../images/announce1.jpg") top center / cover no-repeat;
  height: 664px;
  vertical-align: bottom;
}

.announce2{
  background: url("./../images/announce2.jpg") top center / cover no-repeat;
  height: 664px;
  vertical-align: bottom;
}

.announce3{
  background: url("./../images/announce3.jpg") top center / cover no-repeat;
  height: 664px;
  vertical-align: bottom;
}
