.soc-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;

  &__item {
    padding-right: 43px;
  }

  &__link {
    text-decoration: none;
    transition: $delay;

    &:hover {
      color: $green;
      cursor: pointer;
    }
  }
}
