.soc-media
  .soc-media__item
    a.soc-media__link
      i.fab.fa-facebook-f
  .soc-media__item
    a.soc-media__link
      i.fab.fa-instagram
  .soc-media__item
    a.soc-media__link
      i.fab.fa-youtube
