.main-footer {
  background:
        linear-gradient(rgba(45, 47, 41, 0.95) 100%,transparent),
        url('./../images/bg_footer.jpg') center / cover no-repeat;
  min-height: 500px;
  padding-top: 60px;

  &__container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }


  .callme {

    &__ico {
      margin-right: 13px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menus {
    display: flex;
    justify-content: space-between;
    margin-left: -32px;
    margin-right: -32px;
    padding-top: 55px;
    color: $white;

    @media(max-width: 1150px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__menu-block {
    padding-left: 32px;
    padding-right: 24px;

    @media(max-width: 1150px) {
      padding-bottom: 30px;
    }
  }



  &__left {
    min-width: 55%;
  }

  &__right {
    .main-footer__menu-block {
      width: 50%;
      padding-left: 47px;
      padding-right: 15px;

      @media(max-width: 1150px) {
        width: auto;
        //display: flex;
        //flex-direction: column;
        //padding-left: 15px;
        //padding-right: 15px;
        //max-width: 30%;
      }

      &_social-media {
        @media(max-width: 1150px) {
          display: flex;
          justify-content: center;
          order: 1;
          width: 100%;
        }
      }

      &_office,
      &_payments {
        @media(min-width: 1150px) {
          padding-left: 59px;
        }
      }
    }
  }

  &__left,
  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(max-width: 1150px) {
      justify-content: center;
    }

    .main-footer__menu-block {
      @media(max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__menu-header {
    font-weight: 400;
    padding-bottom: 18px;

    &:after {
      content:'';
      display: block;
      margin-top: 15px;
      background: $white;
      width: 20px;
      height: 1px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    font: 700 14px/24px Montserrat;

    &-link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
  }

  &__contact-item {
    display: flex;
    align-items: center;
    padding-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  &__callme {
    padding-top: 2px;
    padding-bottom: 23px;

  }

  &__payments {

    &-title {
      padding-bottom: 16px;
      line-height: 18px;
    }

  }

  &__payment-method {
    padding-right: 15px;
  }

  &__copyright {
    padding-top: 34px;
    color: #8F8F8F;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
  }

  &_bottom {

    .main-footer__menu-link_marked {
      display: none;
    }
  }
}

