.actions {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    position: relative;

    &_toogle{
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    @media(max-width: 1700px) {
      padding: 0 8px;
    }

    @media(max-width: 1500px) {
      padding: 0 27px;
      display: none;
      border-left: 1px solid #D6D6D6;

      &_toogle{
        display: flex;
      }

      &_basket {
        display: flex;
        margin-top: 2px;

        .basket__price {
          display: none;
        }
      }
    }

  }

  &__ico {
    height: 30px;
    width: 30px;
    stroke: $black2;
    fill: transparent;
  }

  &.is-open {
    background: #ffffff;
    flex-wrap: wrap;
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 50;

    .actions__item {
      display: flex;
      width: 50%;
      border: 1px solid #D6D6D6;
      padding: 24px 0px;

      &_search {
        order: 1;
      }

      &_bookmark {
        order: 2;
      }

      &_like {
        order: 3;

        .like__quantity {
          top: 12px;
          right: 13px;
        }
      }

      &_basket {
        order: 4;
        width: 100%;
        border: none;
        padding-top: 20px;
        padding-bottom: 14px;
        justify-content: flex-start;

        .basket__price {
          display: flex;
        }
      }


    }
  }
}

.quantity {
  display: block;
  text-align: center;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  background: $red;
  border-radius: 50%;
  color: $white;

  @media(max-width: 1500px) {
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
}


.like {

  &__quantity {
    position: absolute;
    top: -11px;
    right: -6px;
  }
}

.basket {
  position: relative;
  margin-top: 4px;

  &__ico {
    width: 35px;
    height: 35px;
    fill: transparent;
  }

  &__quantity {
    position: absolute;
    top: -14px;
    right: -32px;

    @media(max-width: 1500px) {
      top: -8px;
      right: -6px;
    }
  }

  &__price {
    position: absolute;
    top: 15px;
    left: 42px;
    color: $black2;
    white-space: nowrap;
  }

}
