.actions {
  display: flex;
  justify-content: space-between;
  margin-right: 65px;
  margin-top: 15px;

  &__item {
    padding: 0 15px;
    position: relative;
  }
}

.quantity {
  display: block;
  text-align: center;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  background: $red;
  border-radius: 50%;
  color: $white;
}


.like {

  &__quantity {
    position: absolute;
    top: -18px;
    right: -6px;
  }
}

.basket {

  &__quantity {
    position: absolute;
    top: -18px;
    right: -16px;
  }

  &__price {
    position: absolute;
    top: 13px;
    left: 57px;
    color: $black2;
    white-space: nowrap;
  }
}
