.actions
  .actions__item
    img.bookmark(src='./images/bookmark.svg')
  .actions__item
    img.search(src='./images/search.svg')
  .actions__item
    img.like(src='./images/like.svg')
    .like__quantity
      .quantity 3
  .actions__item
    img.basket(src='./images/basket.svg')
    .basket__quantity
      .quantity 2
    .basket__price
      .price 20 745.30 грн
