.actions
  .actions__item.actions__item_toogle
    include ./../menu-toggle/menu-toggle
  .actions__item.actions__item_bookmark
    +icon({icon: 'bookmark', className: 'actions__ico'})
  .actions__item.actions__item_search
    +icon({icon: 'search', className: 'actions__ico'})
  .actions__item.actions__item_like
    +icon({icon: 'like', className: 'actions__ico'})
    .like__quantity
      .quantity 3
  .actions__item.actions__item_basket
    .basket
      +icon({icon: 'basket', className: 'basket__ico'})
      .basket__quantity
        .quantity 2
      .basket__price
        .price 20 745.30 грн
