.actions {
  display: flex;
  justify-content: space-between;
  margin-right: 65px;
  margin-top: 15px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    position: relative;

    @media(max-width: 1500px) {
      display: none;

      &_toogle,
      &_basket{
        display: flex;
      }

      &_basket {
        .basket__price {
          display: none;
        }
      }
    }

  }

  &.is-open {
    width: 239px;
    flex-wrap: wrap;

    .actions__item {
      width: 50%;

      &_search {
        order: 1;
      }

      &_bookmark {
        order: 2;
      }

      &_like {
        order: 3;
      }

      &_basket {
        width: 100%;
        order: 4;
      }


    }
  }
}

.quantity {
  display: block;
  text-align: center;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  background: $red;
  border-radius: 50%;
  color: $white;
}



.like {

  &__quantity {
    position: absolute;
    top: -18px;
    right: -6px;
  }
}

.basket {
  position: relative;

  &__quantity {
    position: absolute;
    top: -18px;
    right: -16px;
  }

  &__price {
    position: absolute;
    top: 13px;
    left: 57px;
    color: $black2;
    white-space: nowrap;
  }

}
